<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	
	<body>
		<div class='jumbotron'>
		<h1>To view the Dashboard</h1>
		<button type="button" class="btn btn-warning"><a href="{% url 'disp_data:ourhome' %}">Click here!</a></button>
		</div>

	</body>
</html>